TWELVE_DATA_API_KEY=
FRED_API_KEY=
DATABASE_URL=sqlite:///./database/gold_trading.db
MODEL_PATH=./RL_model/best_model_ppo_1M_oil_medRisk_noSeed.zip
MODEL_VERSION=oil_1M
MODEL_OBS_DIM=14
SEED_GOLD_CSV=./data/XAU_1h_data.csv
SEED_OIL_CSV=./data/crude-oil-price.csv